
.header-logo img{
  width:200%;
  height:auto;
}

#header .top-header .header-navigation ul li a:hover {
  color:#FF00FF
}

#header .bottom-header {
  position:absolute;
  top:0;
  padding-top: 0;
  margin-top: 70vh;
}

.open-responsive-menu {
  position: absolute;
  right:20px;
}