.page #header .top-header .header-navigation ul li a {
  color:#FF00FF
}

.page #header .top-header .header-navigation ul li a:hover {
  opacity:0.3;
}

.page #header h2 {
  color: #FF00FF;
  color: black;
}