.home #header {
  height: 100vh; }

#header .bottom-header .header-button-one {
  background: rgba(214, 14, 230, 0.8); }

#header .bottom-header .header-button-one:hover {
  background: rgba(214, 14, 230, 0.4); }

#header .bottom-header .header-button-two {
  border: 3px solid #fff;
  border-radius: 3px;
  background: rgba(4, 102, 241, 0.8); }

#header .bottom-header .header-button-two:hover {
  background: rgba(5, 102, 241, 0.4); }

.page #header .top-header .header-navigation ul li a {
  color: #FF00FF; }

.page #header .top-header .header-navigation ul li a:hover {
  opacity: 0.3; }

.page #header h2 {
  color: #FF00FF;
  color: black; }

.header-logo img {
  width: 200%;
  height: auto; }

#header .top-header .header-navigation ul li a:hover {
  color: #FF00FF; }

#header .bottom-header {
  position: absolute;
  top: 0;
  padding-top: 0;
  margin-top: 70vh; }

.open-responsive-menu {
  position: absolute;
  right: 20px; }

@media (min-width: 767px) {
  #about {
    height: 100vh; } }

#about h3 {
  line-height: 1.2;
  text-transform: none; }

#about img {
  margin-left: auto;
  margin-right: auto; }

#about .learn-more {
  width: auto;
  height: 56px;
  line-height: 56px;
  background: #0466F1;
  margin-bottom: 50px;
  padding: 0 70px;
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  color: #f7f7f7;
  text-transform: uppercase;
  border-radius: 3px; }

@media (min-width: 767px) {
  #about .learn-more {
    margin-top: 50px;
    margin-bottom: 0; } }
